.single-product-page {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.product-details {
    flex: 1;
    /* padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}
.product-details-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.list-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.workin-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.workin-countries-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workin-country-card {
    width: calc(25% - 10px); /* 25% for 4 in a row, minus some margin */
    margin: 5px; /* Add some margin for spacing */
    text-align: center;
}





/* Add more specific styling as needed for your content */
/* Update your CSS file (styles.css) or create a new CSS file for this component */
.cart-sidebar {
    flex: 0 0 30%;
    /* padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    margin-left: 20px; /* Add some margin to separate it from the product details */
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-name {
    font-size: 1.2rem;
    margin-top: 10px;
}

.product-price {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
}

.buy-now-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Hover effect */
    &:hover {
        background-color: #0056b3;
    }
}





/* Add this to your CSS file */
.cart-item {
    /* Your existing styles */

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 8px;
    }

    /* Style for the separation line */
    .separator {
        border-bottom: 1px solid #ccc;
        margin: 16px 0;
    }
}

